* {
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    color: rgb(21, 255, 0);
}

p {
    color: rgb(255, 0, 191);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

p.paragraf {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    line-height: 1.5cm;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
}
body{
    background-color:
    darkslateblue;
}
body{
    background-image: url('image/japan-background-digital-art\ \(1\).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    div{
        border: 2px black;
        width: 450px;
        padding: 10px;
        margin-bottom: 5px;


    }
}
div.box1{
    background-color: rgb(202, 255, 136);
}
div.box2{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
div.box3{
    background-color: rgb(126, 123, 129);
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    padding: 10px;
}

.flexcontainer > div {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 2px black solid;
    background-color: gray;
}
